<% provide(:title, "Home") %>

<div class="center jumbotron">

  <h1>HOME</h1>
  <p>Supporto Tecnico Revenge</p>

  <h2>
    This is the home page for the<%= link_to "Ruby on Rails Tutorial",   'http://www.railstutorial.org/' %>sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("virtualMachine.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>