<%= form_with(model: cadaver, local: true) do |form| %>
  <% if cadaver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cadaver.errors.count, "error") %> prohibited this cadaver from being saved:</h2>

      <ul>
      <% cadaver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cadaver_name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :cadaver_surname %>
  </div>

  <div class="field">
    <%= form.label :birth %>
    <%= form.date_select :birth, id: :cadaver_birth %>
  </div>

  <div class="field">
    <%= form.label :death %>
    <%= form.date_select :death, id: :cadaver_death %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
