<p id="notice"><%= notice %></p>

<h1>Cadavers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Birth</th>
      <th>Death</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cadavers.each do |cadaver| %>
      <tr>
        <td><%= cadaver.name %></td>
        <td><%= cadaver.surname %></td>
        <td><%= cadaver.birth %></td>
        <td><%= cadaver.death %></td>
        <td><%= link_to 'Show', cadaver %></td>
        <td><%= link_to 'Edit', edit_cadaver_path(cadaver) %></td>
        <td><%= link_to 'Destroy', cadaver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cadaver', new_cadaver_path %>
