<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cadaver.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @cadaver.surname %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @cadaver.birth %>
</p>

<p>
  <strong>Death:</strong>
  <%= @cadaver.death %>
</p>

<%= link_to 'Edit', edit_cadaver_path(@cadaver) %> |
<%= link_to 'Back', cadavers_path %>
