<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Calife Rails One", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "About",  about_path %></li>
        <li><%= link_to "Log in", login_path %></li>
        <li><%= link_to "Sign up", signup_path %></li>
      </ul>
    </nav>
  </div>
</header>