<!DOCTYPE html>
<html lang="en">
<head>

  <%= render 'layouts/rails_header_default' %>

  <%= render 'layouts/shim' %>

</head>

<body>

<%= render 'layouts/header' %>

<div class="container">
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>

</body>

</html>